<ion-content padding>
    <h1 text-center>Edit Account</h1>
    <form [formGroup]="editForm">

        <ion-item class="form-item">
            <ion-label position="floating">
                <ion-icon name="mail" slot="start"></ion-icon>
                Email
            </ion-label>
            <ion-input formControlName="email" type="email">
            </ion-input>
        </ion-item>
        <ion-text *ngIf="submitted && f.email.errors" color="danger">
            <p *ngIf="f.email.errors.email" class="form-error-message-modal">This email is invalid.</p>
            <p *ngIf="f.email.errors.required" class="form-error-message-modal">This field is required.</p>
        </ion-text>

        <ion-item class="form-item">
            <ion-label position="floating">
                <ion-icon name="contact" slot="start"></ion-icon>
                Avatar
            </ion-label>
            <ion-input formControlName="avatar" type="text">
            </ion-input>
        </ion-item>
        <ion-text *ngIf="submitted && f.avatar.errors" color="danger">
            <p *ngIf="f.avatar.errors.required" class="form-error-message-modal">This field is required.</p>
        </ion-text>

        <ion-grid padding>
            <ion-row>
                <ion-col>
                    <ion-button (click)="cancel()" class="ion-float-right" color="medium">
                        Cancel
                    </ion-button>
                    <ion-button (click)="editAccount()" class="ion-float-right" color="success">
                        Save changes
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </form>
</ion-content>
