// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$screen-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

@each $keySize, $valueSize in $screen-breakpoints {
  [hidden-from-#{$keySize}] {
    @media (min-width: $valueSize) {
      display: none;
    }
  }
}

@each $keySize, $valueSize in $screen-breakpoints {
  [hidden-until-#{$keySize}] {
    @media (max-width: $valueSize) {
      display: none;
    }
  }
}

@font-face {
  font-family: "RockSalt";
  src: url('./assets/fonts/RockSalt.ttf');
}

@font-face {
  font-family: "LucioleBold";
  src: url('./assets/fonts/Luciole-Bold.ttf');
}

@font-face {
  font-family: "LucioleBoldItalic";
  src: url('./assets/fonts/Luciole-Bold-Italic.ttf');
}

@font-face {
  font-family: "LucioleRegular";
  src: url('./assets/fonts/Luciole-Regular.ttf');
}

@font-face {
  font-family: "LucioleRegularItalic";
  src: url('./assets/fonts/Luciole-Regular-Italic.ttf');
}

.center-content-vertically {
  height: calc(100vh - 9em);
  display: flex;
  align-items: center;
  justify-content: center;
}


.delete-book-modal .modal-wrapper {
  height: 7em;
}

.edit-account-modal .modal-wrapper {
  height: 20em;
}

.alert-btn {
  button.alert-button.delete-btn {
    color: red;
    font-weight: 900;
  }

  button.alert-button.cancel-btn {
    color: dimgrey;
  }
}

.active-router-item {
  color: var(--ion-color-tertiary);

  & > ion-icon {
    color: var(--ion-color-tertiary);
  }
}

body {
  --ion-font-family: LucioleRegular, Arial, sans-serif;

}

html {
  color: var(--ion-color-text-dark)
}

body, ion-menu {
  --ion-background-color: var(--ion-color-background);
}

ion-card, ion-footer, .card {
  --ion-background-color: white;
  --background: white;
}

.menu-toolbar {
  --background: var(--ion-color-tertiary);
  color: var(--ion-color-text-dark);

  ion-title {
    cursor: pointer;
    font-family: RockSalt, Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
  }

}

ion-menu-toggle {
  margin-right: 2em;
  margin-left: 2em;
}

.burger-icon {
  color: var(--ion-color-text-dark);
}


ion-button:hover {
  --background: var(--ion-color-primary-tint);
}

