ion-searchbar {
  --background: white;
}

.book-item:hover {
  cursor: pointer;
  --background: var(--ion-color-background-element-hover);
}

h1 {
  font-family: RockSalt, Arial, sans-serif;
}

ion-list-header {
  font-size: larger;
}
