.genre-div {
  margin-right: 1em;
}

.book-card {
  height: 100%;
  cursor: pointer;

  &:hover {
    --background: lightcyan;
  }
}

.book-row {
  margin-bottom: 1em;
}

.select-sort {
  min-width: 15em;
  max-width: 20em;
}

.carousel-button {
  height: 100%;
  display: block;
  vertical-align: middle;
}

.modal {
  top: 20% !important;
  right: 20% !important;
  bottom: 20% !important;
  left: 20% !important;
  overflow: visible !important;
  min-height: 240px !important;
  width: 60% !important;
}

.clickable {
  cursor: pointer;
}

.slide {
  height: 10em;
}
