.genre-div {
  border: solid #1e2023;
  margin-right: 1em;
}

.search-bar-div {
  border: solid #1e2023;
}

.currently-div {
  border: solid #1e2023;
}

.library-div {
  border: solid #1e2023;
}

.book-card {
  height: 100%;
}

.book-row {
  margin-bottom: 1em;
}
