ion-list {
  padding-left: 3em;
  padding-right: 3em;
}

ion-card-title {
  padding-top: 1.5em;
}

.form-error-message {
  font-size: smaller;
  font-style: italic;
  padding-left: 7em;
  margin-bottom: 1.5em;
}

.signIn {
  cursor: pointer;
}

.signIn:hover {
  text-decoration: underline;
}

