<ion-content>
    <div class="center-content-vertically">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col size="12" size-lg="6" size-sm="8" size-xl="4">
                    <ion-card class="card">
                        <ion-card-header text-center>
                            <ion-card-title>Sign In</ion-card-title>
                        </ion-card-header>
                        <form [formGroup]="signInForm">

                            <ion-list>


                                <ion-item>
                                    <ion-label position="floating">
                                        <ion-icon name="person" slot="start"></ion-icon>
                                        Username
                                    </ion-label>
                                    <ion-input (keyup.enter)="signInUser()" formControlName="username" type="text">
                                    </ion-input>
                                </ion-item>
                                <ion-text *ngIf="submitted && f.username.errors" color="danger">
                                    <p *ngIf="f.username.errors.minlength" class="form-error-message">Username should be
                                        at
                                        least 3 characters long.</p>
                                    <p *ngIf="f.username.errors.required" class="form-error-message">This field is
                                        required.</p>
                                </ion-text>

                                <ion-item class="form-item">
                                    <ion-label position="floating">
                                        <ion-icon name="lock" slot="start"></ion-icon>
                                        Password
                                    </ion-label>
                                    <ion-input (keyup.enter)="signInUser()" formControlName="password" type="password">
                                    </ion-input>
                                </ion-item>
                                <ion-text *ngIf="submitted && f.password.errors" color="danger">
                                    <p *ngIf="f.password.errors.minlength" class="form-error-message">The password
                                        should be
                                        at
                                        least 6 characters long.</p>
                                    <p *ngIf="f.password.errors.required" class="form-error-message">This field is
                                        required.</p>
                                </ion-text>
                            </ion-list>

                            <ion-grid>
                                <ion-row>
                                    <ion-col text-center>
                                        <ion-button (click)="signInUser()" [disabled]="signInForm.invalid" padding>
                                            Sign In
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                            <ion-card-content text-right>
                                <ion-text>
                                    Don't have an account? <a (click)="goToSignUp()" class="signUp">Sign up!</a>
                                </ion-text>
                            </ion-card-content>

                        </form>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
