// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #9dccff;
  --ion-color-primary-rgb: 157, 204, 255;
  --ion-color-primary-contrast: #243b58;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  //--ion-color-primary-shade: #8ab4e0;
  --ion-color-primary-shade: black;
  //--ion-color-primary-tint: #a7d1ff;
  --ion-color-primary-tint: black;

  --ion-color-secondary: #49306b;
  --ion-color-secondary-rgb: 73, 48, 107;
  --ion-color-secondary-contrast: #c3c9d1;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #402a5e;
  --ion-color-secondary-tint: #5b457a;

  --ion-color-tertiary: #5899e2;
  --ion-color-tertiary-rgb: 88, 153, 226;
  --ion-color-tertiary-contrast: #243b58;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #4d87c7;
  --ion-color-tertiary-tint: #69a3e5;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #c3c9d1;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #c3c9d1;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #c3c9d1;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #c3c9d1;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #c3c9d1;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #243b58;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --ion-color-background: #eef3f7;
  --ion-color-background-element-hover: #cdc6d6;
  --ion-color-text-dark: #243b58;
  --ion-color-text-light: #c3c9d1;
}


