<ion-content>
<ion-grid>
        <ion-row>
            <ion-col sizeLg="6">
                <ion-img src="../../assets/images/alfons-morales-410757-unsplash.jpg"
                         alt="Photo by Alfons Morales on Unsplash"></ion-img>
            </ion-col>
            <ion-col sizeLg="6">
                <h2>Become your own librarian...</h2>
                <p>"My dear fellow," said Sherlock Holmes as we sat on either side of the fire in his lodgings at Baker
                    Street, "life is infinitely stranger than anything which the mind of man could invent. We would not
                    dare to conceive the things which are really mere commonplaces of existence. If we could fly out of
                    that window hand in hand, hover over this great city, gently remove the roofs, and peep in at the
                    queer things which are going on, the strange coincidences, the plannings, the cross-purposes, the
                    wonderful chains of events, working through generations, and leading to the most outré results, it
                    would make all fiction with its conventionalities and foreseen conclusions most stale and
                    unprofitable."</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <h2>Never forget who borrows your favorite story...</h2>
                <p>"Heavens and earth, no!" cried Arthur in a storm of passion. "Not for the wide world will I consent
                    to any mutilation of her dead body. Dr. Van Helsing, you try me too far. What have I done to you
                    that you should torture me so? What did that poor, sweet girl do that you should want to cast such
                    dishonour on her grave? Are you mad that speak such things, or am I mad to listen to them? Don't
                    dare to think more of such a desecration; I shall not give my consent to anything you do. I have a
                    duty to do in protecting her grave from outrage; and, by God, I shall do it!"</p>
            </ion-col>
            <ion-col size="6">
                <ion-img src="../../assets/images/alexis-brown-82988-unsplash.jpg"
                         alt="Photo by Alexis Brown on Unsplash"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-img src="../../assets/images/aung-soe-min-1172573-unsplash.jpg"
                         alt="Photo by Aung Soe Ming on Unsplash"></ion-img>
            </ion-col>
            <ion-col size="6">
                <h2>Always ask for what you really want...</h2>
                <p>Lord Henry laughed. "The reason we all like to think so well of others is that we are all afraid for
                    ourselves. The basis of optimism is sheer terror. We think that we are generous because we credit
                    our neighbour with the possession of those virtues that are likely to be a benefit to us. We praise
                    the banker that we may overdraw our account, and find good qualities in the highwayman in the hope
                    that he may spare our pockets. I mean everything that I have said. I have the greatest contempt for
                    optimism. As for a spoiled life, no life is spoiled but one whose growth is arrested. If you want to
                    mar a nature, you have merely to reform it. As for marriage, of course that would be silly, but
                    there are other and more interesting bonds between men and women. I will certainly encourage them.
                    They have the charm of being fashionable. But here is Dorian himself. He will tell you more than I
                    can."</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <h2>Sort books like you dream about...</h2>
                <p>“Well, Mr. Utterson, you are a hard man to satisfy, but I’ll do it yet,” said Poole. “All this last
                    week (you must know) him, or it, whatever it is that lives in that cabinet, has been crying night
                    and day for some sort of medicine and cannot get it to his mind. It was sometimes his way--the
                    master’s, that is--to write his orders on a sheet of paper and throw it on the stair. We’ve had
                    nothing else this week back; nothing but papers, and a closed door, and the very meals left there to
                    be smuggled in when nobody was looking. Well, sir, every day, ay, and twice and thrice in the same
                    day, there have been orders and complaints, and I have been sent flying to all the wholesale
                    chemists in town. Every time I brought the stuff back, there would be another paper telling me to
                    return it, because it was not pure, and another order to a different firm. This drug is wanted
                    bitter bad, sir, whatever for.”</p>
            </ion-col>
            <ion-col size="6">
                <ion-img src="../../assets/images/jason-leung-708875-unsplash.jpg"
                         alt="Photo by Jason Leung on Unsplash"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>