//ion-col {
//  border: 1px solid black;
//}

.friend-avatar {
  min-height: 10em;
  min-width: 10em;
  max-height: 25em;
  max-width: 25em;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--ion-color-background-element-hover);
}

.overlay-container:hover .overlay {
  opacity: 0.9;
}

.overlay-text {
  color: var(--ion-color-text-dark);
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

ion-card {
  max-width: 9em;
  max-height: 14em;
}

.books-div {
  display: inline-block;
}

.fab-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  transition: width 0.5s, height 0.5s;

  &:hover {
    width: 50px;
    height: 50px;
  }
}

