<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col size-lg="8">
                <ion-item>
                    <ion-input [(ngModel)]="userInput" placeholder="Enter your new collection name"></ion-input>
                    <ion-button (click)="createNewCollection()" size="medium" slot="end">Create new collection
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col size-xl="10">
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let collection of collections" size-md="6" size-xs="12">
                            <app-display-book-list (refreshParent)="retrieveCollections()"
                                                   [books]="booksCollectionsMap.get(collection.id)"
                                                   [collection]="collection"
                                                   itemMode="collection"></app-display-book-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
