.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--ion-color-primary, black);
}

.overlay-container:hover .overlay {
  opacity: 0.9;
}

.overlay-container {
  height: 100%;
  min-height: 10em;
  background-color: aliceblue;
  cursor: pointer;
}

.overlay-text {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.books-div {
  display: inline-block;
}

.cover-img {
  height: 100%;
  object-fit: cover;
}

.collection-div {
  background-color: #d7d8da;
  padding-top: 0.1em;
  padding-bottom: 1.5em;
  height: 100%;
  min-height: 15em;
  max-height: 40em;
}

.add-book-card:hover {
  background-color: lightblue;
}

.action-buttons {
  margin-top: -0.5em;
  margin-bottom: -1.5em;
}

.fab-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: width 0.5s, height 0.5s;


  &:hover {
    width: 50px;
    height: 50px;
  }
}

.overlay-container:hover .fab-btn {
  opacity: 0.9;
}
