.cover-col {
  align-self: center;
}

.rating {
  display: inline;
  margin-right: 0.5em;
}

.toggle-div {
  margin: 0 auto;
  max-width: 19em;
}

.form-error-message {
  font-size: 0.7em;
}

.item-spinner {
  width: 9em;
  height: calc(100vh - 9em);
  display: flex;
  align-items: center;
  justify-content: center;
}
