<ion-content>
    <div class="center-content-vertically">
        <ion-grid text-center>
            <ion-row justify-content-center>
                <ion-col size-lg="6">
                    <h1 text-center>CONTACT US</h1>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center text-justify>
                <ion-col size-lg="6">
                    <p>Hi ! We are Agathe and Gwenaelle, the creators of this website. We hope you are enjoying
                        BreakingBook to the fullest. This website was made with Spring Boot, Ionic and Angular.</p>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col size-lg="3">
                    <ion-avatar>
                        <img [src]="avatarAgathe" alt="avatar"/>
                    </ion-avatar>
                    <p>Agathe</p>
                </ion-col>
                <ion-col size-lg="3">
                    <ion-avatar>
                        <img [src]="avatarGwen" alt="avatar"/>
                    </ion-avatar>
                    <p>Gwenaelle</p>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col size-lg="6">
                    <p>You can email us at <span class="email">agathe.vaisse@gmail.com</span> or <span class="email">gwenaelle.rispal@gmail.com</span>.
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
