<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col class="create-col" size-lg="8">
                <ion-item class="create-input">
                    <ion-input [(ngModel)]="userInput"
                               placeholder="Wishlist name"></ion-input>
                </ion-item>
                <ion-button (click)="createNewWishlist()" hidden-until-md size="medium">Create new wishlist
                </ion-button>

                <ion-button (click)="createNewWishlist()" hidden-from-md size="medium">
                    <ion-icon name="add" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col size-xl="10">
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let wishlist of wishlists" size-md="6" size-xs="12">
                            <app-display-book-list (refreshParent)="retrieveWishlists()"
                                                   [books]="booksWishlistsMap.get(wishlist.id)"
                                                   [wishlist]="wishlist"
                                                   itemMode="wishlist"></app-display-book-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
