<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col size-lg="8">
                <ion-item>
                    <ion-input [(ngModel)]="userInput" placeholder="Enter your new wishlist name"></ion-input>
                    <ion-button (click)="createNewWishlist()" size="medium" slot="end">Create new wishlist
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col size-xl="10">
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let wishlist of wishlists" size-md="6" size-xs="12">
                            <app-display-book-list (refreshParent)="retrieveWislists()"
                                                   [books]="booksWishlistsMap.get(wishlist.id)"
                                                   [wishlist]="wishlist"
                                                   itemMode="wishlist"></app-display-book-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
