<ion-toolbar>
  <ion-title slot="start" (click)="goToHome()">
    Breaking-Book
  </ion-title>
  <ion-buttons slot="primary">
    <ion-button [routerLink]="['/', 'library']">
      <ion-icon slot="start" name="book"></ion-icon>
      Library
    </ion-button>
    <ion-button [routerLink]="['/', 'collections']">
      <ion-icon slot="start" name="filing"></ion-icon>
      Collections
    </ion-button>
    <ion-button [routerLink]="['/', 'wishlists']">
      <ion-icon slot="start" name="basket"></ion-icon>
      Wishlists
    </ion-button>
    <ion-button [routerLink]="['/', 'friends']">
      <ion-icon slot="start" name="people"></ion-icon>
      Friends
    </ion-button>
  </ion-buttons>
  <ion-buttons class="header-toolbar-cog" slot="end">
    <ion-button (click)="onCogClick($event)">
      <ion-icon slot="end" name="cog"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
